html, body {
    font-size: 10px;
    font-family: "Roboto Mono", monospace;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items to the top */
}

#title {
    position:static;
    margin: 0;
    height: 22%; /* Set height to 20% of viewport height */
    width: 100vw;
    display: flex; 
    justify-content: center;
    align-items: center; /* Center text vertically */
    font-size: 10rem;
    background-image: url(https://media.licdn.com/dms/image/v2/C561BAQHowLZFjFa2zQ/company-background_10000/company-background_10000/0/1585286813421/original_film_art___vintage_movie_posters_cover?e=2147483647&v=beta&t=ntGsXzFLejaWsZo-A43GjdidG7FbwwtDepQPYXLwVnE);
    color: rgb(190, 11, 38);
    text-shadow: 0.3rem 0.3rem 0.3rem black;
}

.form {
    position:static;
    width: 30%; 
    margin: 1rem 0;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    font-size:2rem;
    font-weight: 600;
    color:rgb(156, 13, 13);
}

#submitBtn {
    margin:1rem;
    width:40%;
    align-self: center;
    box-shadow: 0.3rem 0.3rem 0.5rem black;
    background-color:rgb(156, 13, 13);
    font-family: "Roboto Mono", monospace;
    color:white;
    font-size:2rem;
    padding:1rem;
}

#reset {
    margin:2rem;
    width:15%;
    align-self: center;
    box-shadow: 0.3rem 0.3rem 0.5rem black;
    background-color:rgb(156, 13, 13);
    font-family: "Roboto Mono", monospace;
    color:white;
    font-size:2rem;
    padding:1rem;
}

#outputcontainer {
    display: none;  /*hide the container initially*/
    width:60rem;
    height:80rem;
    position:static;
    background-size: cover; 
    background-position: center; 
    flex-direction: column;
    color: white;
    text-shadow: 0.2rem 0.2rem 0.2rem rgb(8, 0, 0);
    padding:2rem;
    text-align: center;
    color:azure;
    font-size:2rem;
    font-family: "Roboto Mono", monospace;
    margin-bottom:4rem;
}
